{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock %}
{% block body %}
 <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 py-5">
        <div class="container">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Product</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Product</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
<!-- Products  --->
<!--Products with Category -->
<div class="row container">
    <div class="col-4">
        <div class="dropdown container">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Categories</a>
            <div class="dropdown-menu fade-up m-0">
                <a href="{% url 'mainapp:all-products' %}" class="dropdown-item">All Products</a>
                {% for category in categories %}
                <a href="{% url 'mainapp:products_category' category.slug %}" class="dropdown-item">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
</div>
<div class="container intro">
  <div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: auto">
                  <table class="table table-striped mb-0">
                    <thead style="background-color: #002d72;">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Theory</th>
                        <th scope="col">Manfacturer</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Price</th>
                        <th scope="col">Icon</th>
                      </tr>
                    </thead>
                      <div id="alerts"></div>
                    <tbody class="productcont">
                    {% for product in products %}
                      <tr class="product">
                        <td class="productname">{{ product.name }}</td>
                        <td>{{ product.size }}</td>
                        <td>{{ product.theory }}</td>
                        <td>{{ product.manfacturer }}</td>
                        <td>{{ product.unit }}</td>
                        <td class="price">{{ product.price_cash }}</td>
                        <td>
                            <button class="addtocart">Add</button>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="container" aria-label="Page navigation example">
        <ul class="pagination">
        {% if products.has_previous %}
            <li class="page-item "><a class="page-link text-bg-dark" href="?page={{ products.previous_page_number }}">Back</a></li>
        {% endif %}

        {% for i in nums  %}
            <li class="page-item "><a class="page-link text-bg-dark" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}

        {% if products.has_next %}
            <li class="page-item"><a class="page-link text-bg-dark" href="?page={{ products.next_page_number }}">Next</a></li>
        {% endif %}
        </ul>
    </nav>

<!--Products with Category end -->
<!-- Products end  --->


<!--<main>-->
<!--     &lt;!&ndash; Start DEMO HTML (Use the following code into your project)&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;   <h1>Simple JavaScript Shopping Cart</h1>&ndash;&gt;-->
<!--&lt;!&ndash;   <p>Simplified 'add to cart' functionality. Uses Javascript&ndash;&gt;-->
<!--&lt;!&ndash;   and WebStorage API/Cookies to remember cart data converted to JSON format.</p>&ndash;&gt;-->
<!--&lt;!&ndash;   <p>Click 'Empty Cart' button to remove session cookies from browser.</p>&ndash;&gt;-->
<!--   <div id="alerts"></div>-->
<!--<div class="productcont">-->
<!--    {% for product in products %}-->
<!--        <div class="product">-->
<!--            <h3 class="productname">{{ product.name }}</h3>-->
<!--            <p>Product description excerpt...</p>-->
<!--            <p class="price">${{ product.price_cash }}</p>-->
<!--            <button class="addtocart">Add To Cart</button>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--</div>-->
<!--</main>-->
<!--<div class="cart-container">-->
<!--  <h2>Cart</h2>-->
<!--  <table>-->
<!--    <thead>-->
<!--      <tr>-->
<!--      <th><strong>Product</strong></th>-->
<!--      <th><strong>Price</strong></th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody id="carttable">-->
<!--    </tbody>-->
<!--  </table>-->
<!--  <hr>-->
<!--  <table id="carttotals">-->
<!--    <tr>-->
<!--      <td><strong>Items</strong></td>-->
<!--      <td><strong>Total</strong></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>x <span id="itemsquantity">0</span></td>-->

<!--      <td>$<span id="total">0</span></td>-->
<!--    </tr>-->
<!--  </table>-->


<!--  <div class="cart-buttons">-->
<!--    <button id="emptycart">Empty Cart</button>-->
<!--    <button id="checkout">Checkout</button>-->
<!--  </div>-->
<!--</div>-->
<!-- partial -->

     <!-- END EDMO HTML (Happy Coding!)-->

{% endblock body %}


