{% load static %}
<!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-white p-3 py-lg-0 px-lg-4">
            <a href="/" class="navbar-brand d-flex align-items-center m-0 p-0 d-lg-none">
                <h1 class="text-primary m-0">METAL</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav me-auto">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'mainapp:about' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'mainapp:service' %}" class="nav-item nav-link">Services</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu fade-up m-0">
                            <a href="{% url 'mainapp:booking' %}" class="dropdown-item">Booking</a>
                            <a href="{% url 'mainapp:team' %}" class="dropdown-item">Technicians</a>
                            <a href="{% url 'mainapp:testimonial' %}" class="dropdown-item">Testimonial</a>
                            <a href="{% url 'mainapp:contact' %}" class="dropdown-item">Contact</a>
                        </div>
                    </div>
                    <a href="{% url 'mainapp:product' %}" class="nav-item nav-link">Products</a>

                </div>
                <div class="mt-4 mt-lg-0 me-lg-n4 py-3 px-4 bg-primary d-flex align-items-center">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                        <i class="fa fa-phone-alt text-primary"></i>
                    </div>
                    <div class="ms-3">
                        <p class="mb-1 text-white">Emergency 24/7</p>
                        <h5 class="m-0 text-secondary">+998 94 182 54</h5>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

